# Virtual Environment
.venv/
venv/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
*.log

# Project specific
allure-results/
allure-report/".idea/" 
"__pycache__/" 
"*.pyc" 
